.section {
  padding: 60px 5%;
  max-width: 1400px;
  margin: 0 auto;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.filterGroup {
  display: flex;
  gap: 10px;
}

.filterGroup button {
  background: none;
  border: 1px solid #ddd;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
}

.filterGroup button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

/* Das Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;

  /* border: 1px solid #ddd; */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 3/4; /* Standard Poster-Format, passt sich bei horizontal an */
  background: transparent;
  overflow: hidden;
  /* border-radius: 0.5rem; */
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.downloadLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.downloadLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.downloadLinks a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 4px 0;

  width: 50%;

  padding: 1rem 1.5rem;
  border-radius: 0.5rem;

  /* background-color: #888; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  transition: 0.2s ease-in-out 0s;
}

.downloadLinks a:hover {
  color: #888;
}

.info {
  margin-top: 15px;
}

.info h3 {
  font-size: 1.1rem;
  margin: 0;
}

.info span {
  font-size: 0.8rem;
  color: #888;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .filterBar {
    flex-direction: column;
  }
}
