.section {
  padding: 60px 5%;
  max-width: 1400px;
  margin: 0 auto;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.filterGroup {
  display: flex;
  gap: 10px;
}

.filterGroup button {
  background: none;
  border: 1px solid #ddd;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
}

.filterGroup button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

/* Das Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;

  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 3/4; /* Standard Poster-Format, passt sich bei horizontal an */
  background: transparent;
  overflow: hidden;
  border-radius: 0.5rem;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover img {
  transform: scale(1.05);
}

.downloadLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.downloadLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.downloadLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
  padding: 4px 0;

  backdrop-filter: blur(1px);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* Die animierte Linie unter dem Text */
.downloadLinks a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.downloadLinks a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.info {
  margin-top: 15px;
}

.info h3 {
  font-size: 1.1rem;
  margin: 0;
}

.info span {
  font-size: 0.8rem;
  color: #888;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .filterBar {
    flex-direction: column;
  }
}
